<ngx-spinner bdColor="rgba(255,255,255,1)"
	size="large"
	color="#e01372"
	loadingText="Loading...."
	type="ball-scale-multiple"> 
	<p style="font-size: 14px; color:#4d4194">
		Loading data
	</p>
</ngx-spinner> 

<footer >	
	<div class="container pb-3 pt-3">
		<div class="row txt-footer">
			<div class="col-md-6 col-lg-6 col-12 d-flex txt-mobile-desktope">
				<span>
					<!-- <i nz-icon nzType="safety-certificate" nzTheme="outline"></i> -->
					
				</span>
			</div>
			<div class="col-md-6 col-lg-6 col-12 d-flex txt-mobile-desktope-right"> 
				<span>
					Copyright © 2019 – startwars.com
				</span>
			</div>
		</div>
	</div>		
</footer>