<div *ngIf="people" class="body-style">  
		<div class="container">
			<div style="padding-top: 150px;" class="row">
				<div class="col-md-12 col-12 col-lg-4 pb-4">
					<h5 class="text-white c-promo-title f-bold">
						People space
						<br>{{people.name}}
					</h5>
					<hr class="c-small-left-hr bg-white">
					<!-- <span class="c-txt-sm f-light text-white font-weight-bold">
						{{ 'DASHBOARD.CONSULT_AT_ANY_TIME' | translate }}
					</span> -->
	
				</div>
				<div class="col-md-12 col-12 col-lg-8">
					<nz-tabset>
						<nz-tab nzTitle="Vehicles">
							<div class="tab-body">
								Content of Tab Pane 2
							</div>
						</nz-tab>
						<nz-tab nzTitle="Starships">
							<div class="tab-body">
								Content of Tab Pane 2
							</div>
						</nz-tab>
						<nz-tab nzTitle="Films">
							<div class="tab-body">
								Content of Tab Pane 2
							</div>
						</nz-tab>
						 
					</nz-tabset>
				</div>
			</div>
		</div>
	</div>
	
	