<div *ngIf="people"  class="body-style">  
		<div class="container">
			<div  class="row padding-top">
				<div class="col-md-12 col-12 col-lg-4 pb-2">
					<div class="row">
						<div class="col-lg-12 col-md-6 col-12">
							<h5 style="font-size: 32px;" class="text-white  f-bold">
								People space
								<br>{{people.name}}
							</h5>
							<hr class="c-small-left-hr bg-white">
						</div>
						<div class="col-lg-12 col-md-6 col-12 pt-2">
							<ul class="row f-bold text-white">
								<li class="col-4  col-md-12 col-lg-12 mb-2">
									<i nz-icon nzType="user" nzTheme="outline"></i>
									Gender : {{ people.gender }}
								</li>
								<li class="col-4 col-md-12 col-lg-12 mb-2">
									<i nz-icon nzType="colum-height" nzTheme="outline"></i>
									Height : {{ people.height }}
								</li>
								<li class="col-4 col-md-12 col-lg-12">
									<i nz-icon nzType="medicine-box" nzTheme="outline"></i>
									Mass : {{ people.mass }}
								</li>
							</ul>
						</div>
					</div>
				</div>
				<div class="col-md-12 col-12 col-lg-8">
					<nz-tabset>
						<nz-tab nzTitle="Vehicles">
							<div *ngIf="cars.length >0" class="tab-body">
								<div *ngFor="let car of cars" class="col-md-12 p-2">
									<div class="box-film p-1">
										<div class="row">
											<!-- logo film -->
											<div class="col-lg-3 col-md-2 col-4 pr-0 mr-0">
												<figure class="text-center-img m-2" >
													<a >
														<img src="assets/layout/img/films/2.jpg" class="img-film">							
													</a>
												</figure>
											</div>
											<!-- film title -->
											<div class="col-lg-9 col-md-10 col-8 pt-2 pb-2 pl-3 pr-2">
												<div class="row">
													<div class="col-12">
														<h4 class="car-name mb-0">
															<p class="f-bold c-txt-purple truncateLongTexts mb-0">
																{{ car.name }} 
															</p>
														</h4>
													</div>
												</div>
												<div class="row">
													<div class="col-12 pt-2">
														<ul class="row f-light film-caracteristics">
															<li  class="col-12 col-md-6 m-0 p-0 caracteristics-li" >
																<i class="c-txt-purple" nz-icon nzType="user" nzTheme="outline"></i>
																<!-- <span class="pl-1 f-bold">Director </span> : {{film.director}} -->
															</li>
									
															<li class="col-12 col-md-6 m-0 p-0 caracteristics-li" >
																<i  class="c-txt-purple" nz-icon nzType="user-add" nzTheme="outline"></i>
																<!-- <span class="f-bold"> Producer </span> : {{film.producer}} -->
															</li>
										
															<li class="col-12 col-md-6 m-0 p-0 caracteristics-li" >
																<i class="c-txt-purple" nz-icon nzType="calendar" nzTheme="outline"></i>
																<!-- <span class="f-bold">	Release : </span> {{film.created | date:'EEE, d MMM'}} -->
															</li>
										
															<li class="col-12 col-md-6 m-0 p-0 caracteristics-li">
																<i class="c-txt-purple" nz-icon nzType="number" nzTheme="outline"></i>
																<!-- <span class="pl-1 f-bold">Episode N° : </span> {{film.episode_id}} -->
															</li>
														</ul>
													</div>	
													
												</div>
											</div>
										</div>
									</div>
									
								</div>
							</div>
							<div class="tab-body-no-result"  *ngIf="cars.length == 0">
								<img src="assets/layout/img/noresult.png" class="img-no-result">			
							</div>
						</nz-tab>
						<nz-tab nzTitle="Starships">
							<div class="tab-body">
								Content of Tab Pane 2
							</div>
						</nz-tab>
						<nz-tab nzTitle="Films">
							<div class="tab-body">
								<div *ngFor="let film of films" class="col-md-12 p-2">
									<div class="box-film p-1">
										<div class="row">
											<!-- logo film -->
											<div class="col-lg-3 col-md-2 col-4 pr-0 mr-0">
												<figure class="text-center-img m-2" >
													<a >
														<img src="assets/layout/img/films/2.jpg" class="img-film">							
													</a>
												</figure>
											</div>
											<!-- film title -->
											<div class="col-lg-9 col-md-10 col-8 pt-2 pb-2 pl-3 pr-2">
												<div class="row">
													<div class="col-12">
														<h4 class="car-name mb-0">
															<p class="f-bold c-txt-purple truncateLongTexts mb-0">
																{{ film.title }} 
															</p>
														</h4>
													</div>
												</div>
												<div class="row">
													<div class="col-12 pt-2">
														<ul class="row f-light film-caracteristics">
															<li  class="col-12 col-md-6 m-0 p-0 caracteristics-li" >
																<i class="c-txt-purple" nz-icon nzType="user" nzTheme="outline"></i>
																<span class="pl-1 f-bold">Director </span> : {{film.director}}
															</li>
									
															<li class="col-12 col-md-6 m-0 p-0 caracteristics-li" >
																<i  class="c-txt-purple" nz-icon nzType="user-add" nzTheme="outline"></i>
																<span class="f-bold"> Producer </span> : {{film.producer}}
															</li>
										
															<li class="col-12 col-md-6 m-0 p-0 caracteristics-li" >
																<i class="c-txt-purple" nz-icon nzType="calendar" nzTheme="outline"></i>
																<span class="f-bold">	Release : </span> {{film.created | date:'EEE, d MMM'}}
															</li>
										
															<li class="col-12 col-md-6 m-0 p-0 caracteristics-li">
																<i class="c-txt-purple" nz-icon nzType="number" nzTheme="outline"></i>
																<span class="pl-1 f-bold">Episode N° : </span> {{film.episode_id}}
															</li>
														</ul>
													</div>	
													
												</div>
											</div>
										</div>
									</div>
									
								</div>
							</div>
						</nz-tab>
						 
					</nz-tabset>
				</div>
			</div>
		</div>
	</div>
	
	