.col-first{
    background-color:#eeeff0;
}
.col-second{
    background-color: #fbfbfb;
}
.txt-desc{
    color: #000;
}
.color-gray{
    color: #d6d7d8;
}
.ant-list-split .ant-list-item {
    border-bottom: none;
}
.border-bottom{
    border-bottom: 1px solid #e8e8e8;
}
.border-top{
    border-bottom: 1px solid #e8e8e8;
}
.txt-label{
    text-transform: uppercase;
    color: #000;
    font-weight: 500;
    font-size: 11px;
}

.txt-title-article{
    color: #bcbcbc!important;
}
.hr-colored{
    background-color: #e8e8e8;
    width: 45%;
    float: left;
    margin-top: -2px;
    margin-bottom: 0rem;
    border: 0;
    border-top: 2px solid rgba(0,0,0,.1)
}
.div-hr{
    border-top: 2px solid #f3f3f3;
    margin-bottom: 0px;
    padding: 0px 0 0px;
    position: relative;
}
.nbr-most-recom{
    font-size: 16px;
    top: 3px;
    border: 1px solid #d0d0d0!important;
    background-color: #fbfbfb!important;
    color: #cdcdcd !important;
    cursor:default!important;
}
.btn-follow{
    font-size: 16px;
    top: 3px;
    border: 1px solid #d0d0d0!important;
    background-color: #eeeff0!important;
    color: #cdcdcd !important;
    cursor:default!important;
}
.div-height{
    height: 360px;
}
.col-second ant-btn-primary:active, ant-btn-primary.active {
    color: #cdcdcd;
    background-color: #d0d0d0;
    border-color: #d0d0d0;
}
.img-article{
    width: 100px;
    height: auto;
}
.img-article-tech{
    width: 60px;
    height: auto;
}
.label-desc{
    font-size: 11px;
}
.txt-author{
    margin-top: 16px;
    font-size: 12px;
    color: #d8d8d8;
}
.div-follow{
    background-color: #eeeff0;
    position: absolute;
    left: 0px;
    width: 100%;
    margin-top: 130px!important;
}
.div-inspired{
    background-color: #eeeff0;
    width: 100%;
}
.h-item-1{
    font-size: 22px!important;
}
.h5-title{
    font-size: 18px;
}
.padding-top{
    padding-top: 369px!important;
}

.head-example {
    width: 25px;
    height: 25px;
    border-radius: 4px;
    background: #eee;
    display: inline-block;
    vertical-align: middle;
  }
.ant-badge-count {
    background: #cccccc!important;
}
.img-background{
    background: url(./assets/layout/img/user_follow.jpg);
}
.body-follow{
    font-size: 11px;
    color: #d6d7d8;
}
.inspired{
    font-weight: bold;
}
.shared-txt{
    color:#d6d7d8 ;
    font-weight: 400;
}
.btn-start{
    border: 1px solid #d0d0d0!important;
    background-color: #eeeff0!important;
}
i.anticon.anticon-user.ng-star-inserted {
    vertical-align: 0.125em;
}
